header {
  height: 520px;
  width: 100%;
  background-image: url("/images/black-felt.png");
  background-position: center; 
  background-color:#e09d4a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center
}

.name {
  margin-top: -50px;
}

@media only screen and (min-width: 768px) {

  header {
    width: 30%;
    height: 400px;
    margin-top: 250px;
    margin-left: 100px;
    border-radius: 8px;
    float: left; 
  }

   .profile-image {
    max-width: 100%;
    height: auto; 
  } 


  main {
    width: 50%;
    margin-top: 205px;
    margin-right: 50px;
    float: right;
    
  }

  nav {
    position: fixed;
    height: 120px;
    width: 100%; 
    background-image: none;
    background-color: #4056A1; 
    color: #FFFFFF; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em; 
  }

}