nav {
  position: fixed;
  height: 120px;
  width: 100%; 
  background-image: url("/images/black-felt.png");
  /* background-size: cover; */
  background-position: center; 
  background-color:#e09d4a;
  color: #FFFFFF; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em; 
}

.brand {
  font-family: "Bungee", sans-serif;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon {
  margin-top: 5px; 
}

 @media only screen and (min-width: 768px) {

  nav {
    position: fixed;
    height: 120px;
    width: 100%; 
    background-image: none;
    background-color: #4056A1; 
    color: #FFFFFF; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em; 
  }

} 