.newer-tweet {
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newer-tweet h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.tweeter-post textarea {
  width: 100%;
  background-color: #f4f1ec;
  padding: 5px 0; 
  border: none;
  border-bottom: 3px solid black; 
  margin-bottom: 10px;
  resize: none;
}

.tweeter-post button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tweet-counter {
  display: flex;
  justify-content:space-between;
}

.counter {
  color: black;
  font-family: "Bungee", sans-serif;
}

.exceeded {
  color: red
}

.error-message {
  color: red;
  border: 3px solid red;
  padding: 10px;
  display: none;
}