.tweet-log {
  width: 100%;
}

.tweet {
  background-color: #f5f8fa;
  border: 3px solid black;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease; 
}

.tweet:hover {
  box-shadow: 6px 6px 12px rgba(64, 86, 161, 0.5),
  -6px -6px 12px rgba(255, 255, 255, 0.5); 
}

.user-info {
  display: flex;
  justify-content: space-between; 
}

.name-avatar {
  display: flex;
  align-items: center; 
}

.name-avatar h3 {
margin-left: 25px;
font-weight: 350;
}

.tweet-body {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tweet-info {
  display: flex;
  justify-content: space-between; 
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.actions button:hover {
  color: #4056A1; 
}

